body{
    font-family:Tahoma;
    font-size : 12;   
    background: url("sa.gif");                                                                                                                                                                                                                                                                                                                                                                                                                                      
   }


#zai{
    font-family:Tahoma;
    font-size : 12;   
    background-color:rgba(247, 251, 253, 0.986);
    
    
}


